## 라이브러리(패키지) import

데이터프레임, 행렬, 그래프 그리기 위한 라이브러리

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 데이터 불러오기

현재폴더 데이터 불러오기

In [2]:
ExampleData = pd.read_csv('./ExampleData', sep=',', header=None)
ExampleData

             0         1         2         3
0     0.000000  0.016440 -0.014200  0.001433
1     0.000078  0.013822 -0.015707  0.001504
2     0.000156  0.019431 -0.016963  0.001433
3     0.000234  0.003726 -0.017248  0.001549
4     0.000313  0.022049 -0.009840  0.001864
...        ...       ...       ...       ...
2769  0.216330  0.077392  0.002404  0.003453
2770  0.216410  0.030276  0.003952  0.003498
2771  0.216480  0.017188  0.005504  0.003397
2772  0.216560  0.037754 -0.000108  0.003506
2773  0.216640 -0.016093 -0.001652  0.003600

[2774 rows x 4 columns]

하위폴더 데이터 불러오기

In [4]:
path = './Subfolder/ExampleData2' # 파일 경로
ExampleData2 = pd.read_csv(path, sep=',',names=['time', 'Accelerometer', 'Voltage', 'Current'])
ExampleData2

          time  Accelerometer   Voltage   Current
0     0.000000       0.016440 -0.014200  0.001433
1     0.000078       0.013822 -0.015707  0.001504
2     0.000156       0.019431 -0.016963  0.001433
3     0.000234       0.003726 -0.017248  0.001549
4     0.000313       0.022049 -0.009840  0.001864
...        ...            ...       ...       ...
2769  0.216330       0.077392  0.002404  0.003453
2770  0.216410       0.030276  0.003952  0.003498
2771  0.216480       0.017188  0.005504  0.003397
2772  0.216560       0.037754 -0.000108  0.003506
2773  0.216640      -0.016093 -0.001652  0.003600

[2774 rows x 4 columns]

## 데이터 핸들링 (Handling)

시간열(time column) 제거한 센서 데이터 추출

In [5]:
SensorDataOnly = ExampleData.iloc[:,1:]
SensorDataOnly

             1         2         3
0     0.016440 -0.014200  0.001433
1     0.013822 -0.015707  0.001504
2     0.019431 -0.016963  0.001433
3     0.003726 -0.017248  0.001549
4     0.022049 -0.009840  0.001864
...        ...       ...       ...
2769  0.077392  0.002404  0.003453
2770  0.030276  0.003952  0.003498
2771  0.017188  0.005504  0.003397
2772  0.037754 -0.000108  0.003506
2773 -0.016093 -0.001652  0.003600

[2774 rows x 3 columns]

0.01초부터(이상, 0.01초 포함) 0.02초까지(미만, 0.02초 미포함) 해당하는 데이터 추출

In [6]:
StartPoint = np.where(ExampleData.iloc[:,0].values == 0.1)[0][0]
EndPoint   = np.where(ExampleData.iloc[:,0].values == 0.15)[0][0]

StartPoint, EndPoint

(1280, 1920)

In [7]:
NewData = ExampleData.iloc[StartPoint:EndPoint, :]
NewData

            0         1         2         3
1280  0.10000 -0.019832  0.036835  0.010176
1281  0.10008  0.075896 -0.045092  0.008440
1282  0.10016  0.155540  0.060506  0.008736
1283  0.10023  0.212380 -0.047716  0.012275
1284  0.10031  0.272210  0.045259  0.004361
...       ...       ...       ...       ...
1915  0.14961  0.096089  0.003679  0.007544
1916  0.14969 -0.036285  0.018761  0.009351
1917  0.14977 -0.039277 -0.008292  0.008597
1918  0.14984 -0.100600  0.027226  0.009647
1919  0.14992 -0.106590 -0.017653  0.010142

[640 rows x 4 columns]

데이터 형태(차원) 확인

In [8]:
NewData.shape

(640, 4)

데이터를 파일(.csv)로 저장

In [12]:
path = '/Users/junjoonheak/Desktop/실습/Subfolder/ST384_HW1_1'
NewData.to_csv(path , sep=',' , header=None , index=None)

데이터 행렬바꾸기

In [ ]:
TransposedData = np.transpose(NewData)
TransposedData

## 데이터 그래프 그리기

그리드, 라벨, 제목, 범례 표시 등

In [ ]:
# ExampleData 0열 (1번째 열) = 시간
# ExampleData 1열 (2번째 열) = 가속도 센서 데이터

plt.plot(ExampleData.iloc[:,0], ExampleData.iloc[:,1])
plt.grid()                                                     # 그리드 표시
plt.xlabel('time(s)')                                          # x 라벨 표시
plt.ylabel('Acceleration(g)')                                  # y 라벨 표시
plt.title('Spot Welding Acceleration Data')                    # 제목 표시
plt.legend(['Acc'], loc = 'upper right', fontsize=10)          # 범례 표시
#plt.xlim(0,0.02) # x축 범위 설정
plt.ylim(-1.5,1.5) # y축 범위 설정
plt.show()

In [ ]:
# ExampleData 0열 (1번째 열) = 시간
# ExampleData 2열 (3번째 열) = 전압 센서 데이터

plt.plot(ExampleData.iloc[:,0], ExampleData.iloc[:,2])
plt.grid()                                                     # 그리드 표시
plt.xlabel('time(s)')                                          # x 라벨 표시
plt.ylabel('Voltage(V)')                                       # y 라벨 표시
plt.title('Spot Welding Voltage Data')                         # 제목 표시
plt.legend(['Voltage'], loc = 'upper right', fontsize=10)      # 범례 표시
plt.show()

In [ ]:
# ExampleData 0열 (1번째 열) = 시간
# ExampleData 3열 (4번째 열) = 전류 센서 데이터

plt.plot(ExampleData.iloc[:,0], ExampleData.iloc[:,3])
plt.grid()                                                     # 그리드 표시
plt.xlabel('time(s)')                                          # x 라벨 표시
plt.ylabel('Current(kA)')                                      # y 라벨 표시
plt.title('Spot Welding Current Data')                         # 제목 표시
plt.legend(['Current'], loc = 'upper right', fontsize=10)      # 범례 표시
plt.show()

그래프 모양 변경 등

In [ ]:
plt.figure(figsize = (12,9))
plt.plot(ExampleData.iloc[:100,0],ExampleData.iloc[:100,1],
         linestyle       = '-.', 
         linewidth       = 2.0, 
         color           = 'b',           
         marker          = 'o', 
         markersize      = 8, 
         markeredgecolor = 'g', 
         markeredgewidth = 1.5, 
         markerfacecolor = 'r', 
         alpha           = 0.5)

plt.grid()
plt.xlabel('time(s)') 
plt.ylabel('Acceleration(g)')
plt.title('Spot Welding Acceleration Data') 
plt.legend(['Acc'], loc = 'upper right', fontsize=10)

그래프 겹쳐서 그리기

In [ ]:
DataLength = 100   # 데이터 길이 100개까지만 제한 (~128/12800, 0.01 초까지)

plt.plot(ExampleData.iloc[:DataLength,0],ExampleData.iloc[:DataLength,1])
plt.plot(ExampleData.iloc[:DataLength,0],ExampleData.iloc[:DataLength,2])
plt.plot(ExampleData.iloc[:DataLength,0],ExampleData.iloc[:DataLength,3])

plt.xlabel('time(s)')
plt.ylabel('Acceleration(g)')
plt.title('Spot Welding Acceleration Data')
plt.legend(['Acc', 'Voltage', 'Current'], loc = 'upper right', fontsize=10)

plt.grid()
plt.show()